/*

My Custom CSS
=============

Author:  Prateek Pandey
Updated: January 2017
Notes:	Hand coded for StackRoute.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */

body{
   background-color: grey;
   margin-right: 0px;
   max-width: 100%;
   font-size: 17px;
   font-family: Pacifico;
}

.btn-default {
    color: #C0C0C0;
    background-color: #0e0e0e;
    border-color: #0e0e0e;
}

.button_link{
    color: #C0C0C0;
}

.cent{
   align-content: center;
}



/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-brand {
   float: left;
   height: 50px;
   padding: 0px;
   padding-left: 20px;
   font-size: 18px;
   line-height: 20px;
}

.navbar-nav>li>a{
   line-height: inherit;
}

.form-control .btn{
   height: 50px;
}


   
/* --------------------------------------
   Carousel
   -------------------------------------- */

.myCarousel{
   margin-top: 115px;
}

.image_format{
   width: 120%;
}



/* --------------------------------------
   3 Column Grid
   -------------------------------------- */
   
/* Center align the text within the three columns below the carousel */
.col_grid .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.col_grid{
   margin-top: 80px;
}

.col_grid h2 {
  font-weight: normal;
}

.col_grid .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* --------------------------------------
   2 Column Grid
   -------------------------------------- */

.well{
   padding-top: 19px;
   padding-left: 19px;
   padding-right: 19px;
   padding-bottom: 0;
}





/* --------------------------------------
   Footer
   -------------------------------------- */


.footer-distributed{
   background-color: #292c2f;
   box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
   box-sizing: border-box;
   width: 100%;
   text-align: left;
   font: normal 16px Pacifico;

   padding: 20px 20px;
   margin-top: 20px;
}

.footer-distributed .footer-left p{
   color:  #8f9296;
   font-size: 14px;
   margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
   font-size:18px;
   color:  #ffffff;
   margin: 0 0 10px;
   padding: 0;
}

.footer-distributed p.footer-links a{
   display:inline-block;
   line-height: 1.8;
   text-decoration: none;
   color:  inherit;
}

.footer-distributed .footer-right{
   float: right;
   margin-top: 20px;
   max-width: 180px;
}

.footer-distributed .footer-right a{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color:  #33383b;
   border-radius: 2px;

   font-size: 20px;
   color: #ffffff;
   text-align: center;
   line-height: 20px;

   margin-left: 3px;
}

/* Media Queries to make footer responsive*/

@media (max-width: 600px) {

   .footer-distributed .footer-left,
   .footer-distributed .footer-right{
      text-align: center;
   }

   .footer-distributed .footer-right{
      float: none;
      margin: 0 auto 20px;
   }

   .footer-distributed .footer-left p.footer-links{
      line-height: 1.8;
   }
}


